* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* home section */
#home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imgs/Screenshot\ 2024-10-31\ 10.25.16\ PM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80%;
  background-size: contain;
}

#home .content {
  padding-top: 210px;
  margin-left: 56px;
}

#home .content h3 {
  font-size: 70px;
  color: rgb(5, 46, 68);
  font-family: "graveur-variable", sans-serif;
  font-variation-settings: "wght" 600, "opsz" 10;
}

#home .content p {
  margin-top: 30px;
  color: white;
  font-family: "graveur-variable", sans-serif;
  font-variation-settings: "wght" 600, "opsz" 10;
  font-size: 25px;
}

/* navbar */
#navbar {
  background-color: #2c3e50;
}

.nav-item .nav-link {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
  font-family: "cofo-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.nav-item .nav-link:hover {
  background: #f7f5f2;
  border-radius: 5px;
  color: black;
}

#navbar form button {
  background: black;
  color: white;
  border: 1px solid white;
}

/* card row layout */
.card-row {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.text-card,
.image-card {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.text-card:hover,
.image-card:hover {
  transform: translateY(-5px);
}

.text-card p {
  color: #2c3e50;
  font-family: "cofo-sans-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.image-card img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.image-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

/* responsive design */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }

  .card-row {
    grid-template-columns: 1fr;
  }
}

/* information gallery */
#gallery {
  width: 100%;
}

.heading5 {
  color: black;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 30px;
}

.heading5 span {
  color: #2c3e50;
}

#gallery .card {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: end;
  cursor: pointer;
}

#gallery .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}

#gallery .card:hover img {
  opacity: 0.9;
  transform: scale(1.1);
}

#gallery .card .tour-name {
  font-weight: 400;
}

#gallery .card .tour-action {
  margin-left: 20px;
  font-size: 14px;
  position: relative;
}

#gallery .card .tour-action::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 2px;
  background: url("img/logo.png");
  background-size: cover;
  width: 15px;
  height: 15px;
}

#gallery .card .location {
  align-items: center;
}

/* footer */
.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-link {
  color: #ecf0f1;
  text-decoration: none;
}

.footer-link:hover {
  color: #52f3ff;
}

/* arrow */
.arrow {
  position: fixed;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
}
